
.blog-index {

  overflow: hidden;
  height: 200px;
  border-radius: 7px;
  border: solid 1px;
  border-color:rgba(0,0,0, 0.2);
  padding-top:7px;
  float: none;
  margin-bottom:25px
}

.blog-image {

  display: inline-block;
  margin-right: 7px;
  width: 200px;
  height: 180px;
  object-fit: cover;
  float: left; 
  margin-bottom: 10px
}
